<template name="imageField">
  <div class="form-group image-field">
    {{#if userImage}}
      <div class="imageView">
        <img src="{{userImage.url store='thumbs'}}" alt="" class="thumbnail" />
      </div>
      <button id="remove_picture" type="submit">Remove</button>
    {{else}}
      <input type="file" name="{{name}}_field" />
      <button type="submit" name="{{name}}_upload">Upload</button>
      <input type="text" name="{{name}}" data-schema-key="{{name}}" value={{value}} />
    {{/if}}
  </div>
</template>
