<template name="profileEdit">
  {{#autoForm id="profileEdit" type="method" schema="userProfileSchema" meteormethod="profileUpdate" doc=thisDoc}}
    {{> afQuickField name="birthday"}}
    {{#if userImage}}
      <div class="imageView">
        <img src="{{userImage.url store='thumbs'}}" alt="" class="thumbnail" />
        <button id="remove_picture" type="submit">Remove</button>
      </div>
    {{else}}
      {{> afQuickField name="pictureId"}}
    {{/if}}
    <button id="submit" type="submit">Submit</button>
  {{/autoForm}}
</template>