<template name="profileEdit">
  {{#autoForm id="profileEdit" type="method" schema="userProfileSchema" meteormethod="profileUpdate"}}
    {{> afQuickField name="birthday"}}

    {{#if userImage}}
      <div class="imageView">
        <img src="{{userImage.url store='thumbs'}}" alt="" class="thumbnail" />
      </div>
      <button id="remove_picture" type="submit">Remove</button>
    {{else}}
      {{> afQuickField name="pictureId"}}
    {{/if}}
    <button type="submit">Submit</button>
  {{/autoForm}}

  =====================
  {{#each images}}
    <div>
      <a href="{{this.url}}" target="_blank"><img src="{{this.url store='thumbs'}}" alt="" class="thumbnail" /></a>
    </div>
  {{/each}}
</template>